.title{
    position: relative;
    bottom: 70px;
    height: 70px;
    z-index: 1;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box:hover{
    transform: scale(1.025);
    transition-duration: .5s;
    cursor: pointer;
}